<div class="carousel-window">
  <mat-icon class="navArrows" id="left">chevron_left</mat-icon>
    <div class="draggable">
      <mat-card *ngFor="let item of itemsToDisplay" class="carousel-card">
        <mat-card-title *ngIf="item.title">
          <h1> {{item.title}}</h1>
        </mat-card-title>
        <img mat-card-image src="{{item.image}}" alt="" *ngIf="item.image">
      <mat-card-content *ngIf="item.content">
        <p>{{item.content}}</p>
      </mat-card-content>
      </mat-card>
    </div>
  <mat-icon class="navArrows" id="right">chevron_right</mat-icon></div>
