@import "src/assets/shared/variables";

.carousel-window {
  background-color: rgba(0, 0, 0, 0.11);
  max-width: 100vw;
  min-width:auto;
  display: flex;
  overflow: hidden;
}
.draggable {
  transition: all 300ms ease;
  display: flex;
  max-width: max-content;
}


.carousel-card {
  overflow-x: hidden;
  color: $chosen-black;
  padding: 10px;
  min-width:300px;
  max-width: 300px;
  margin: 15px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: $chosen-white;
}
.card-img {
  background-size: cover;
  background-position: center;
  min-height: 200px;
  max-height: 1000px;
  //background-image: url("https://picsum.photos/200/300?random=2");
  width: 100%;
}
.card-content{
width: 100%;
  padding: 3px;
  word-break: break-word;

}
.card-title{
  font-size: 16px;
  width: 100%;
  display: flex;justify-content: center;
}

button.navArrows{
  position: relative;
  stroke-opacity: 50%;
  z-index: 1;
  color: white;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;

  & > .mat-icon{
    font-size: 4rem;
  }
}

.card-content {
  padding: 3px;
  padding-top: 8px ;
  padding-bottom: 8px ;


}
@media screen and (max-width: 700px) {
  button#left{
    left: 0px;
  }
  button#right{
    right: 0px;
  }
  .carousel-window{
    max-width: 100vw;
  }
  .carousel-card{
    min-width: 200px;
    width: fit-content;
  }
}

@media screen and (max-width: 700px) {
  .carousel-card {
    min-width: 200px;
    max-height: 100%;
  }

}
