@use '../../../assets/shared/variables';

.header {
  background-color: rgba(0, 0, 0, 0.05);
  border-bottom: black 1px solid;
  color: white;
  margin-left: auto;
}

.site-footer {
  background: variables.$chosen-black;
  justify-self: flex-end;
  padding: 5px;
}
