@import "src/assets/shared/variables";

main {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}
.displayComponents{
  display: flex;
  width: auto;
  margin: auto;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height:50vh ;
  max-height:100vh ;

}
.headTitle {
  background: $chosen-blue;
  color: $chosen-white;
  box-shadow: black 1px 1Px 3px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.separator {
  width: 90%;
  margin:auto
}
