main {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}
.displayComponents{
  display: grid;
  margin: auto;
  grid-template: auto auto auto/ 30vw 40vw 30vw;
  max-height: 100vh;
  min-height: 50vh;
  justify-content: center;
  align-items: center;
  grid-auto-rows: 1fr;
  grid-gap: 10px;
  grid-template-areas:  "carousel carousel carousel"
                        ". . ."
                        ". . .";
}
.headTitle {

}
app-carousel{
  grid-area: carousel;
}

@media screen and (max-width: 700px) {
  .displayComponents {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
}
