@import "src/assets/shared/variables";

app-nav-bar {
  height: 80px;
}
.home-theme {
  background: $chosen-white;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

section {
  flex-grow: 1;
}

