@import 'src/assets/shared/variables.scss';

nav {
  transition: all ease 300ms;
  width: 100%;
  margin-top: 0px;
  min-height: 80px;
  height: 80px;
  display: flex;
  opacity: 0%;
  justify-content: center;
  align-items: center;
  &.lockedNav {
    opacity: 100%;
  }
}

.menuMobile {
  width: 100%;
  height: 25vw;
  display: none;
}
.menuDesktop {
  width: 85%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}
.actions {
  width: max-content;
  margin: 10px;
  display: flex;
  justify-content: flex-end;
  & > * {
    margin: 5px;
  }
}

.menuBtn {
  width: auto;
  display: none;
  min-width: 40px;
  min-height: 30px;
}
.hidden {
  display: none
}
.floating {
  display: flex;
  position: absolute;
  height: 160PX;
  width: 100%;
  top: -80px;
  left: 0;
  &:hover {
    & > .translateNav {
      transform: translateY(80px);
      opacity: 100%;
    }
    & > nav {
      background: $chosen-black;
      box-shadow: rgba(0, 0, 0, 0.33) 1px 1px 10px;
      &.fixed {
        background: $chosen-black
      }
    }
  }
  & > .fixed {
    background: $chosen-black
  }
}
.lockedNav {
  transform: translateY(80px);
  position: relative;
  &.fixed {
    position: fixed;
    z-index: 1;
    &:hover{
      &nav { background: $chosen-black}
    }
  }

}
.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 90%;

  padding-top: 0px;

  background-color: rgba(0, 0, 0, 0.1);
  & > mat-list-item {

    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  overflow-x: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}
.content {
  height: 75%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15PX;
  align-items: center;
}
.logo-box {
  width: 48px;
  height: 48px;
  display: flex;
  justify-self: center;
  align-self: center;
  & > #hovered {
    display: none;
  }
  & > #nonHovered {
      display: block;
    }
  &:hover {
    & > #hovered {
      display: block;
    }
    & > #nonHovered {
      display: none;
    }
  }
}
.logo{
  cursor: pointer;
  width: 90%;
  height: 90%;
}
.primary{
  background-color: $chosen-blue
}
@media screen and (max-width:700px){
  .menuMobile {
    display: flex;
    height: max-content;
  }
  .menuDesktop {
    display: none;
  }
  .menuBtn {
    display: block;
    order: -1;
  }
  .floating {
    display: flex;
    height: 80px;
    margin-top: unset;
    position: relative;
    width: 100%;
    &:hover {
      & > nav.translateNav {
        transform: unset;
      }
    }
    & > nav {
      opacity: 100%;
    }
  }
  .links {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
