<div
  class="server-status-display-parent"
  [ngClass]="'obHeader'"

>
  <div
    *ngIf="data.length != 0; else nodata"
    class="server-status-top"
    (click)="openComponentSheetMenu()"
  >
    <p class="plaintext">
      Servers : {{ data.length }}
    </p>

    <div class="indicators">
      <mat-icon
        *ngIf="statuses['Running']"
        class="icons running"
        matTooltip="{{ statuses['Running'] }} Server Running"
      >
        check
      </mat-icon>

      <mat-icon
        *ngIf="statuses['Warning']"
        class="icons warning"
        matTooltip="{{ statuses['Warning'] }} Server Warnings"
      >
        warning
      </mat-icon>

      <mat-icon
        *ngIf="statuses['Down']"
        class="icons down"
        matTooltip="{{ statuses['Down']}} Server Down"
      >
        close
      </mat-icon>
    </div>
  </div>
  <ng-template #nodata>
    <div
      class="server-status-top nulldata"
      style="justify-content: center; color: grey"
    >
      no data provided
    </div>
  </ng-template>
</div>
