<div >
  <form method="post" class="form postFormLayer">
    <mat-form-field color="primary" class="form-field title">
      <input matInput type="text" name="title" [(ngModel)]="title">
    </mat-form-field>
    <mat-form-field class="form-field text">
      <textarea matInput name="content" placeholder="Contenu du poste" [(ngModel)]="content">
      </textarea>
    </mat-form-field>
  <button mat-raised-button type="submit" (click)="addPost()"></button>
  </form>

  <div class="currentPosts" *ngIf="posts">
    <app-post *ngFor="let post of posts" [post]="post"></app-post>
  </div>
</div>
